.task-view {
  display: flex;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;
}

.task-list {
  width: 100%;
}

.task-list-item {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 3rem;

  list-style-type: none;
}

.task-title,
.task-delete-container {
  display: flex;
  align-items: center;
}
